<p>
  <mat-toolbar color="primary">
    <span>Register</span>
  </mat-toolbar>
</p>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Ex. Johnny" />
  </mat-form-field>
</form>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Ex. Johnny" />
  </mat-form-field>
</form>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Ex. Johnny" />
  </mat-form-field>
</form>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput/>
  </mat-form-field>
</form>
<div class="example-form">
  <button mat-flat-button color="primary">Register</button>
</div>
<div class="example-form">
  <button mat-flat-button color="primary" routerLink="/login">Login</button>
</div>