<mat-toolbar color="primary" *ngIf="currentUser">
  <span>Welcome {{ username }}! </span>
  <div>
    <a mat-button [routerLink]="'/'"> Home </a>
    <a mat-button (click)="logout()"> Logout </a>
  </div>
</mat-toolbar>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Post Here</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field class="input">
        <input
          matInput
          placeholder="Ex. Hello World"
          [(ngModel)]="content"
          name="content"
        />
      </mat-form-field>
    </form>
    <mat-card-actions class="post">
      <button mat-button (click)="post()">POST</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let post of posts" class="card">
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>{{ post.content }} </mat-card-content>
</mat-card>
