
// Formatting for where users post information
.postcard {
  width: 500px;
  margin: auto;
  margin-top: 15px;
}

//Formatting for input 
.input {
  width: 400px;
  margin-left: 20px;
}

// Formatting for post button
.post {
  margin-left: 425px;
}
